
/* typography.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Base styles */

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: var(--line-height);
    margin: 0;
}

/* Typography styles */
h1, h2, h3, h4, p, small {
    margin-bottom: 1rem;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-h3);
}

h4 {
    font-size: var(--fs-h4);
    font-weight: var(--fw-h4);
}

p {
    font-size: var(--fs-body);
    font-weight: var(--var-body);
}

small {
    font-size: var(--fs-small);
    color: #555;
    font-weight: var(--fw-small);
}
/* Additional typography styles can be added below */
