
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;

}
.site-header {
    background-color: #333;
    font-size: 32px;
    color:white;
    text-align:center;
    padding:25px 0;
}

.wrapper{
    margin:40px auto;
    padding:50px;
    width:70%;
}



.team{

    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content:center;
    
}

.card {
    background: white;
    border-radius:12px;
    box-shadow:2px 5px 12px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    display:flex;
    flex-direction:column;
    flex:1 1 30%;
    max-height:350px;
    max-width:250px;
    min-width:220px;
}

/*this wrapper class is used for Details Action Method*/

.details_wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
}

.details_wrapper .card {
    max-height:600px;
    max-width: 50%;
    min-width: 30%;
}

.details_wrapper .card .card_img{
    height:50%;
    
}
.details_wrapper .card .card_name{
    margin:0;
    padding:10px;
}


.details_wrapper .card .card_button{
    width:120px;
    padding:20px 30px;
    
}

.card:hover{
    transform:translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.transition{
    transition:all 0.3s ease;
}

.card_img{
    height:60%;
    object-fit:cover;
}

.card_info{
    padding:20px;
}

.card_name{
    margin-bottom:15px;
    font-size:1.5rem;
    color: #111;
    text-align:center;
}

.card_role{
    font-size:1rem;
    color: #666;
    text-align:center;
}

.card_details{
    font-size:0.8rem;
    color:#555;
}

.card_button{
    display:inline-block;
    text-decoration:none;
    padding: 8px 16px;
    border-radius:4px;
    color:white;
    background-color:#333;
    font-size:12px;
    width:60px;
    cursor:pointer;
    text-align:center;
}


.card_button_position{
    margin-top:auto;
    display:flex;
    justify-content:space-evenly;
}

.card_button:hover{
    background-color:#555;
}

.site-footer {
    margin-top:auto;
    background-color: #222;
    color: white;
    justify-content:center;
    padding: 15px 0;
    font-size: 14px;
}

.site-footer_text {
    font-size: 1rem;
    color: #666;
    text-align:center;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
    .card {
        flex-direction: column; /* Stack image and text */
        max-width: 100%;
    }

    .card_img {
        width: 100%;
        height: 220px;
    }

    .card_info {
        text-align: center;
    }
}
